__pycache__/
build/
dist/
localpycs/
*.spec
*.exe
*.pdf
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.vscode/
.DS_Store
Thumbs.db
.idea/
output.pdf
__pycache__/
venv/

# OS / editor files
.vscode/
.pytest_cache/
